.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("/static/assets/index1.png");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("/static/assets/index2.png");
  min-height: 100%;
}

.bgimg-3 {
  background-image: url("/static/assets/index3.png");
  min-height: 100%;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

hr {
  background-color: #888888;
  border: 1px #888888;
  border-radius: 7px 7px 7px 7px;
  height: 2px;
  width: 90%;
}